:root {
    --container-width: 1620px;
    --container-padding-x: 24px;
    --container-padding-mobile-x: 16px;

    --font-family: 'Inter', sans-serif;

    --color-white: #ffffff;

    --transition-duration: 0.2s;
}