:root {
    --container-width: 1620px;
    --container-padding-x: 24px;
    --container-padding-mobile-x: 16px;

    --font-family: 'Inter', sans-serif;

    --color-white: #fafafa;
    --color-purple: #5f33e1;
    --color-grey: #6e6a7c;
    --color-black: #24252c;

    --transition-duration: 0.2s;
}